.navigation{
    border-bottom: 1px solid rgba(214, 191, 203, 0.699);
    padding: 0px 10px;
}

.p1{
    padding:10px;
}
.redButton {
    padding:10px;
    flex:1;
    margin-right:5px;
    border:none;
    color:white;
    background-image: linear-gradient(rgba(218, 32, 26, 0.904),rgba(187, 65, 65, 0.904));
    border-radius: 20px;
}
.greenButton {
    padding:10px;
    flex:1;
    margin-right:5px;
    border:none;
    color:white;
    border-radius: 20px;
    background-image: linear-gradient(rgba(80, 199, 25, 0.904),rgba(122, 194, 102, 0.904));
}
